{%extends 'layout/baseIndex.html'%} 
{%block content%}
<section class="frame-14">
  <div class="frame-15">
    <h2 class="well-liked">
      Khám phá vẻ đẹp bất tận của thiên nhiên, nơi mỗi bước đi là một hành trình
      kỳ diệu
    </h2>
  </div>
  <div class="frame-16">
    <article class="frame-17">
      <img
        class="mask-group"
        src="/static/img/dalat_tours3.jpg"
        alt="Accommodation 1"
      />
      <div class="frame-18">
        <div class="frame-19">
          <div class="frame-20">
            <h3 class="text-wrapper-8">Đà Lạt</h3>
          </div>
          <p class="voluptatibus-nemo">
            Đà Lạt, thành phố ngàn hoa, nổi bật với khí hậu mát mẻ, những vườn
            hoa đủ sắc màu, hồ Xuân Hương thơ mộng và những rừng thông xanh bạt
            ngàn.&nbsp;Đây là nơi lý tưởng để tránh xa nhịp sống hối hả và tìm
            lại sự bình yên trong lòng
          </p>
        </div>
      </div>
    </article>
    <article class="frame-17">
      <img
        class="mask-group-2"
        src="/static/img/Vinh-Ha-Long.jpg"
        alt="Accommodation 2"
      />
      <div class="frame-18">
        <div class="frame-19">
          <div class="frame-20">
            <h3 class="text-wrapper-8">Vịnh Hạ Long</h3>
          </div>
          <p class="voluptatibus-nemo">
            Vịnh Hạ Long, một kỳ quan thiên nhiên thế giới, nổi bật với hàng
            nghìn hòn đảo đá vôi nhấp nhô giữa làn nước trong xanh, tạo nên một
            phong cảnh hùng vĩ và huyền bí mà bất kỳ ai cũng nên trải nghiệm ít
            nhất một lần trong đời.
          </p>
        </div>
      </div>
    </article>
    <article class="frame-17">
      <img
        class="mask-group-2"
        src="/static/img/images.jpg"
        alt="Accommodation 3"
      />
      <div class="frame-18">
        <div class="frame-19">
          <div class="frame-20">
            <h3 class="text-wrapper-8">Hà Giang</h3>
          </div>
          <p class="voluptatibus-nemo">
            Hà Giang, vùng đất biên cương phía Bắc, nổi bật với những dãy núi đá
            vôi hùng vĩ, những cánh đồng hoa tam giác mạch rực rỡ và những bản
            làng dân tộc thiểu số mang đậm bản sắc văn hóa, là điểm đến lý tưởng
            cho những ai yêu thích sự khám phá và vẻ đẹp hoang sơ của thiên
            nhiên
          </p>
        </div>
      </div>
    </article>
    <article class="frame-17">
        <div class="frame-22"></div>
      </div>
    </article>
  </div>
</section>
<section class="overlap-group">
  <div class="frame-23">
    <div class="group">
      <div class="overlap-group-2">
        <img
          class="kenny-febrian"
          src="/static/img/imgdulich.jpg"
          alt="Featured accommodation"
        />
        <div class="frame-24">
          <img
            class="mask-group-3"
            src="/static/img/imgdulich2.jpg"
            alt="Featured accommodation thumbnail"
          />
        </div>
      </div>
    </div>
    <div class="frame-30">
      <div class="frame-31">
        <h2 class="div-3">
          <span class="span">Why</span>
          <span class="text-wrapper-16"> choose us</span>
        </h2>
        <p class="text-wrapper-17">
          Chọn chúng tôi, chọn sự khác biệt – Chất lượng luôn được đặt lên hàng đầu!
        </p>
      </div>
      <ul class="frame-32">
        <li class="frame-33">
          <div class="rectangle-2"></div>
          <p class="text-wrapper-18">
            An toàn tuyệt đối – Hành trình của bạn luôn được bảo vệ với chúng tôi!
          </p>
        </li>
        <li class="frame-33">
          <div class="rectangle-2"></div>
          <p class="text-wrapper-18">
            Dịch vụ thân thiện, chuyên nghiệp – Mang đến trải nghiệm bay thoải mái và dễ chịu!
          </p>
        </li>
        <li class="frame-33">
          <div class="rectangle-2"></div>
          <p class="text-wrapper-18">
            Đúng giờ, luôn đúng hẹn – Đảm bảo chuyến bay của bạn không bị gián đoạn!
          </p>
        </li>
        <li class="frame-33">
          <div class="rectangle-2"></div>
          <p class="text-wrapper-18">
            Tiện nghi hiện đại – Chuyến bay của bạn thêm phần hoàn hảo với các dịch vụ cao cấp!
          </p>
        </li>
      </ul>
      <p class="text-wrapper-17">
        Với dịch vụ an toàn tuyệt đối, đội ngũ chuyên nghiệp và thân thiện, luôn đảm bảo đúng giờ và tiện nghi hiện đại, chúng tôi mang đến cho bạn những chuyến bay thoải mái, hoàn hảo từ đầu đến cuối hành trình
      </p>
    </div>
  </div>
</section>
<section class="overlap-2">
  <div class="frame-35">
    <div class="frame-36">
      <h2 class="div-3">
        <span class="text-wrapper-16">Trending </span>
        <span class="span">destination</span>
        <span class="text-wrapper-16"> now days</span>
      </h2>
      <p class="tempora-facere-2">
        Chúng tôi mang đến cho bạn những chuyến bay an toàn, đúng giờ, với dịch vụ chuyên nghiệp và tiện nghi hiện đại, giúp mỗi hành trình trở nên thoải mái và trọn vẹn hơn bao giờ hết.
      </p>
    </div>
    <div class="overlap-group-wrapper">
      <div class="overlap-group-3">
        <div class="frame-37">
          <img
            class="heru-eko-saputro"
            src="/static/img/tokyo.webp"
            alt="Destination 1"
          />        
          <img
          class="heru-eko-saputro"
          src="/static/img/thuonghai.webp"
          alt="Destination 1"
        />        
          <div class="div-wrapper"><h3 class="text-wrapper-20">Thượng Hải</h3></div>
        </div>
        <div class="frame-39"><h3 class="text-wrapper-22">Tokyo</h3></div>
      </div>
    </div>
  </div>
</section>

{%endblock%}
